NODE_ENV=production
PORT=8080
BNC_WS_URL=wss://stream.binance.com:9443
REDIS_CONNECTION_URL=redis://127.0.0.1:6379
MONGODB_CONNECTION_URL=mongodb://localhost:27017
MONGODB_NAME=wss_db
ASSET_MARKET_URL=https://stg.base.irbtc.net/api/v1/assets
FIAT_URL=

